@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {box-sizing: border-box;

}

body {
    height: 800px;
    background-image: url("../img/background_relax.jpg");
    background-position: top;
    background-size: 100%;
    width: auto;

}

.frase {
    position: absolute;
    padding-left: 10%;
    padding-top: 50px;

}

.titulo {
    position: sticky;
    top: 30%;
    font-size: xx-large;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    color: yellow;

}

#botao {
    position: fixed;
    bottom: 20px;
    right: 10%;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
}
